body {
  font-family: $font_opensans;
  font-size: 16px;
  animation: showFade .6s ease forwards;

  //&.is-mobile-menu-opened {
  //  overflow: hidden;
  //  height: 100vh;
  //}

  &.is-popup-opened {
    overflow: hidden;
  }
}

.container {
  padding: 0 20px;
  max-width: 1600px;
  margin: 0 auto;
}

.section-block {
  padding: 128px 0;

  &--clear-top {
    padding-top: 0;
  }

  &--gray {
    background: #EFEFEF;
  }

  &--gray-line {
    background-image: url('assets/images/contact-bg.svg');
    background-color: #EFEFEF;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }

  &--catalog {
    background-image: url("data:image/svg+xml,%3Csvg width='540' height='524' viewBox='0 0 540 524' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2'%3E%3Cpath d='M426.226 407.732C463.774 370.792 424.288 272.053 338.032 187.193C251.775 102.332 151.412 63.4855 113.864 100.426C76.3157 137.366 115.802 236.105 202.058 320.966C288.314 405.826 388.678 444.673 426.226 407.732Z' stroke='url(%23paint0_linear_592_5098)' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M407.91 427.486C445.459 390.546 405.973 291.807 319.716 206.946C233.46 122.086 133.097 83.2394 95.5485 120.18C58.0003 157.12 97.4861 255.859 183.742 340.72C269.999 425.58 370.362 464.427 407.91 427.486Z' stroke='url(%23paint1_linear_592_5098)' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M435.383 397.787C472.931 360.847 433.445 262.108 347.189 177.247C260.933 92.3869 160.569 53.5402 123.021 90.4806C85.473 127.421 124.959 226.16 211.215 311.02C297.472 395.881 397.835 434.727 435.383 397.787Z' stroke='url(%23paint2_linear_592_5098)' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M453.698 378.014C491.247 341.073 451.761 242.334 365.504 157.474C279.248 72.6135 178.885 33.7667 141.337 70.7072C103.788 107.648 143.274 206.387 229.531 291.247C315.787 376.107 416.15 414.954 453.698 378.014Z' stroke='url(%23paint3_linear_592_5098)' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M462.856 368.096C500.404 331.155 460.918 232.416 374.662 147.556C288.405 62.6955 188.042 23.8488 150.494 60.7892C112.946 97.7296 152.431 196.469 238.688 281.329C324.944 366.189 425.308 405.036 462.856 368.096Z' stroke='url(%23paint4_linear_592_5098)' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M444.54 387.912C482.088 350.972 442.603 252.233 356.346 167.372C270.09 82.5119 169.726 43.6652 132.178 80.6056C94.6302 117.546 134.116 216.285 220.372 301.145C306.629 386.006 406.992 424.852 444.54 387.912Z' stroke='url(%23paint5_linear_592_5098)' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M417.069 417.607C454.617 380.667 415.131 281.928 328.875 197.068C242.618 112.207 142.255 73.3605 104.707 110.301C67.1585 147.241 106.644 245.98 192.901 330.841C279.157 415.701 379.52 454.548 417.069 417.607Z' stroke='url(%23paint6_linear_592_5098)' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M380.424 457.126C417.979 420.193 378.486 321.474 292.212 236.63C205.939 151.786 105.556 112.947 68.0003 149.881C30.4448 186.814 69.9384 285.533 156.212 370.377C242.485 455.22 342.868 494.06 380.424 457.126Z' stroke='url(%23paint7_linear_592_5098)' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M398.753 437.42C436.301 400.479 396.816 301.74 310.559 216.88C224.303 132.02 123.939 93.173 86.3912 130.113C48.8431 167.054 88.3289 265.793 174.585 350.653C260.842 435.514 361.205 474.36 398.753 437.42Z' stroke='url(%23paint8_linear_592_5098)' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M389.596 447.299C427.144 410.358 387.658 311.619 301.402 226.759C215.146 141.899 114.782 103.052 77.234 139.992C39.6859 176.933 79.1717 275.672 165.428 360.532C251.684 445.392 352.048 484.239 389.596 447.299Z' stroke='url(%23paint9_linear_592_5098)' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M472.013 358.193C509.561 321.253 470.075 222.514 383.819 137.653C297.563 52.7932 197.199 13.9464 159.651 50.8869C122.103 87.8273 161.589 186.566 247.845 271.427C334.101 356.287 434.465 395.134 472.013 358.193Z' stroke='url(%23paint10_linear_592_5098)' stroke-width='2' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_592_5098' x1='176.438' y1='286.046' x2='309.337' y2='154.761' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2337A0E7'/%3E%3Cstop offset='1' stop-color='%23C507D9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_592_5098' x1='158.123' y1='305.799' x2='291.022' y2='174.515' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2337A0E7'/%3E%3Cstop offset='1' stop-color='%23C507D9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_592_5098' x1='185.596' y1='276.1' x2='318.494' y2='144.816' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2337A0E7'/%3E%3Cstop offset='1' stop-color='%23C507D9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_592_5098' x1='203.911' y1='256.327' x2='336.81' y2='125.042' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2337A0E7'/%3E%3Cstop offset='1' stop-color='%23C507D9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_592_5098' x1='213.068' y1='246.409' x2='345.967' y2='115.124' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2337A0E7'/%3E%3Cstop offset='1' stop-color='%23C507D9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear_592_5098' x1='194.753' y1='266.225' x2='327.652' y2='134.941' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2337A0E7'/%3E%3Cstop offset='1' stop-color='%23C507D9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint6_linear_592_5098' x1='167.281' y1='295.921' x2='300.18' y2='164.636' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2337A0E7'/%3E%3Cstop offset='1' stop-color='%23C507D9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint7_linear_592_5098' x1='130.587' y1='335.464' x2='263.46' y2='204.152' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2337A0E7'/%3E%3Cstop offset='1' stop-color='%23C507D9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint8_linear_592_5098' x1='148.966' y1='315.733' x2='281.864' y2='184.448' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2337A0E7'/%3E%3Cstop offset='1' stop-color='%23C507D9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint9_linear_592_5098' x1='139.809' y1='325.612' x2='272.707' y2='194.327' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2337A0E7'/%3E%3Cstop offset='1' stop-color='%23C507D9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint10_linear_592_5098' x1='222.226' y1='236.506' x2='355.124' y2='105.222' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2337A0E7'/%3E%3Cstop offset='1' stop-color='%23C507D9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 100% -90px;

    @media (max-width: 1024px) {
      background-size: 460px;
    }

    @media (max-width: 768px) {
      background-size: 380px;
    }

    @media (max-width: 600px) {
      background-size: 210px;
      background-position: 100% -20px;
    }
  }

  &--oborudovanie {
    background-image: url('assets/images/oborudovanie-bg.svg');
    background-repeat: no-repeat;
    background-position: 100% 0;

    @media (max-width: 1024px) {
      background-size: 940px;
    }

    @media (max-width: 768px) {
      background-size: 820px;
    }

    @media (max-width: 600px) {
      background-size: 940px;
      background-position: 100% -20px;
    }
  }

  &--eq-page-detail {
    background-image: url('assets/images/eq-page-bg.svg');
    background-repeat: no-repeat;
    background-position: 100% 0;

    @media (max-width: 1200px) {
      background-size: 600px;
      background-position: 100% -100px;
    }

    @media (max-width: 992px) {
      background-size: 520px;
    }

    @media (max-width: 767px) {
      background-size: 360px;
      background-position: 100% 0;
    }
    //
    //@media (max-width: 768px) {
    //  background-size: 820px;
    //}
    //
    //@media (max-width: 600px) {
    //  background-size: 940px;
    //  background-position: 100% -20px;
    //}
  }

  &__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
    margin-top: -10px;

    &--half {
      width: 40%;

      @media (max-width: 992px) {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: 1024px) {
    padding: 80px 0;
  }

  @media (max-width: 768px) {
    padding: 64px 0;

    &#section-products-have {
      padding-bottom: 0;
    }
  }
}


/**************************** Social links */
.social-link {
  display: inline-flex;
  transition: all .3s ease;
  font-size: 0;

  &__tg-dark {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.78734 13.019C5.83031 13.0333 5.87449 13.0437 5.91934 13.05C6.20226 13.7167 6.48359 14.384 6.76334 15.052C7.26634 16.254 7.77334 17.492 7.88434 17.848C8.02334 18.286 8.16934 18.584 8.32934 18.788C8.41234 18.892 8.50734 18.984 8.61934 19.054C8.67768 19.0905 8.74011 19.1201 8.80534 19.142C9.12534 19.262 9.41734 19.212 9.60034 19.151C9.70773 19.1144 9.80991 19.0639 9.90434 19.001L9.90934 18.999L12.7353 17.237L16.0003 19.739C16.0483 19.776 16.1003 19.807 16.1563 19.832C16.5483 20.002 16.9283 20.062 17.2863 20.014C17.6423 19.964 17.9253 19.815 18.1363 19.646C18.3786 19.4507 18.5718 19.2014 18.7003 18.918L18.7093 18.896L18.7123 18.888L18.7143 18.884V18.882L18.7153 18.881C18.7327 18.838 18.7461 18.7935 18.7553 18.748L21.7353 3.72301C21.7448 3.67492 21.7494 3.62602 21.7493 3.57701C21.7493 3.13701 21.5833 2.71801 21.1943 2.46501C20.8603 2.24801 20.4893 2.23801 20.2543 2.25601C20.0023 2.27601 19.7683 2.33801 19.6113 2.38801C19.5235 2.41586 19.4367 2.44722 19.3513 2.48201L19.3403 2.48701L2.62634 9.04301L2.62434 9.04401C2.56779 9.06481 2.51208 9.08783 2.45734 9.11301C2.3248 9.1726 2.19766 9.24353 2.07734 9.32501C1.85034 9.48001 1.32734 9.90601 1.41634 10.61C1.48634 11.17 1.87034 11.515 2.10534 11.681C2.23334 11.772 2.35534 11.837 2.44534 11.88C2.48534 11.9 2.57134 11.934 2.60834 11.95L2.61834 11.953L5.78734 13.019ZM19.9253 3.86701H19.9233C19.9147 3.87083 19.9061 3.8745 19.8973 3.87801L3.16334 10.443C3.15473 10.4465 3.14606 10.4498 3.13734 10.453L3.12734 10.456C3.09677 10.468 3.06674 10.4814 3.03734 10.496C3.06517 10.512 3.09388 10.5263 3.12334 10.539L6.26534 11.597C6.32149 11.6159 6.37519 11.6414 6.42534 11.673L16.8023 5.59801L16.8123 5.59301C16.8526 5.56851 16.894 5.54583 16.9363 5.52501C17.0083 5.48801 17.1233 5.43401 17.2533 5.39401C17.3433 5.36601 17.6103 5.28701 17.8983 5.38001C18.0511 5.42816 18.1872 5.5183 18.2912 5.64013C18.3952 5.76196 18.4628 5.91058 18.4863 6.06901C18.5236 6.20776 18.5246 6.35374 18.4893 6.49301C18.4193 6.76801 18.2273 6.98201 18.0513 7.14601C17.9013 7.28601 15.9563 9.16201 14.0373 11.014L11.4243 13.534L10.9593 13.984L16.8313 18.486C16.9106 18.5193 16.9967 18.533 17.0823 18.526C17.1255 18.5202 17.1661 18.5021 17.1993 18.474C17.2399 18.4398 17.2747 18.3993 17.3023 18.354L17.3043 18.353L20.1943 3.78001C20.1033 3.80191 20.014 3.83066 19.9273 3.86601L19.9253 3.86701ZM11.4643 16.261L10.2923 15.363L10.0083 17.168L11.4643 16.261ZM9.21734 13.581L10.3823 12.456L12.9953 9.93401L13.9683 8.99601L7.44834 12.813L7.48334 12.895C7.89454 13.8664 8.30121 14.8398 8.70334 15.815L8.98634 14.015C9.01195 13.8481 9.09338 13.6957 9.21734 13.581Z' fill='black'/%3E%3C/svg%3E%0A");
    width: 24px;
    height: 24px;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.78734 13.019C5.83031 13.0333 5.87449 13.0437 5.91934 13.05C6.20226 13.7167 6.48359 14.384 6.76334 15.052C7.26634 16.254 7.77334 17.492 7.88434 17.848C8.02334 18.286 8.16934 18.584 8.32934 18.788C8.41234 18.892 8.50734 18.984 8.61934 19.054C8.67768 19.0905 8.74011 19.1201 8.80534 19.142C9.12534 19.262 9.41734 19.212 9.60034 19.151C9.70773 19.1144 9.80991 19.0639 9.90434 19.001L9.90934 18.999L12.7353 17.237L16.0003 19.739C16.0483 19.776 16.1003 19.807 16.1563 19.832C16.5483 20.002 16.9283 20.062 17.2863 20.014C17.6423 19.964 17.9253 19.815 18.1363 19.646C18.3786 19.4507 18.5718 19.2014 18.7003 18.918L18.7093 18.896L18.7123 18.888L18.7143 18.884V18.882L18.7153 18.881C18.7327 18.838 18.7461 18.7935 18.7553 18.748L21.7353 3.72301C21.7448 3.67492 21.7494 3.62602 21.7493 3.57701C21.7493 3.13701 21.5833 2.71801 21.1943 2.46501C20.8603 2.24801 20.4893 2.23801 20.2543 2.25601C20.0023 2.27601 19.7683 2.33801 19.6113 2.38801C19.5235 2.41586 19.4367 2.44722 19.3513 2.48201L19.3403 2.48701L2.62634 9.04301L2.62434 9.04401C2.56779 9.06481 2.51208 9.08783 2.45734 9.11301C2.3248 9.1726 2.19766 9.24353 2.07734 9.32501C1.85034 9.48001 1.32734 9.90601 1.41634 10.61C1.48634 11.17 1.87034 11.515 2.10534 11.681C2.23334 11.772 2.35534 11.837 2.44534 11.88C2.48534 11.9 2.57134 11.934 2.60834 11.95L2.61834 11.953L5.78734 13.019ZM19.9253 3.86701H19.9233C19.9147 3.87083 19.9061 3.8745 19.8973 3.87801L3.16334 10.443C3.15473 10.4465 3.14606 10.4498 3.13734 10.453L3.12734 10.456C3.09677 10.468 3.06674 10.4814 3.03734 10.496C3.06517 10.512 3.09388 10.5263 3.12334 10.539L6.26534 11.597C6.32149 11.6159 6.37519 11.6414 6.42534 11.673L16.8023 5.59801L16.8123 5.59301C16.8526 5.56851 16.894 5.54583 16.9363 5.52501C17.0083 5.48801 17.1233 5.43401 17.2533 5.39401C17.3433 5.36601 17.6103 5.28701 17.8983 5.38001C18.0511 5.42816 18.1872 5.5183 18.2912 5.64013C18.3952 5.76196 18.4628 5.91058 18.4863 6.06901C18.5236 6.20776 18.5246 6.35374 18.4893 6.49301C18.4193 6.76801 18.2273 6.98201 18.0513 7.14601C17.9013 7.28601 15.9563 9.16201 14.0373 11.014L11.4243 13.534L10.9593 13.984L16.8313 18.486C16.9106 18.5193 16.9967 18.533 17.0823 18.526C17.1255 18.5202 17.1661 18.5021 17.1993 18.474C17.2399 18.4398 17.2747 18.3993 17.3023 18.354L17.3043 18.353L20.1943 3.78001C20.1033 3.80191 20.014 3.83066 19.9273 3.86601L19.9253 3.86701ZM11.4643 16.261L10.2923 15.363L10.0083 17.168L11.4643 16.261ZM9.21734 13.581L10.3823 12.456L12.9953 9.93401L13.9683 8.99601L7.44834 12.813L7.48334 12.895C7.89454 13.8664 8.30121 14.8398 8.70334 15.815L8.98634 14.015C9.01195 13.8481 9.09338 13.6957 9.21734 13.581Z' fill='%23854ADE'/%3E%3C/svg%3E%0A");
    }
  }

  &__wa-dark {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.05 4.91006C18.1332 3.98399 17.0412 3.24973 15.8377 2.75011C14.6341 2.25049 13.3432 1.99552 12.04 2.00006C6.58005 2.00006 2.13005 6.45006 2.13005 11.9101C2.13005 13.6601 2.59005 15.3601 3.45005 16.8601L2.05005 22.0001L7.30005 20.6201C8.75005 21.4101 10.38 21.8301 12.04 21.8301C17.5 21.8301 21.9501 17.3801 21.9501 11.9201C21.9501 9.27006 20.92 6.78006 19.05 4.91006ZM12.04 20.1501C10.56 20.1501 9.11005 19.7501 7.84005 19.0001L7.54005 18.8201L4.42005 19.6401L5.25005 16.6001L5.05005 16.2901C4.2278 14.977 3.79119 13.4593 3.79005 11.9101C3.79005 7.37006 7.49005 3.67006 12.03 3.67006C14.23 3.67006 16.3 4.53006 17.85 6.09006C18.6175 6.85402 19.2257 7.76272 19.6394 8.76348C20.0531 9.76425 20.2641 10.8372 20.26 11.9201C20.2801 16.4601 16.58 20.1501 12.04 20.1501ZM16.56 13.9901C16.31 13.8701 15.09 13.2701 14.87 13.1801C14.64 13.1001 14.48 13.0601 14.31 13.3001C14.14 13.5501 13.67 14.1101 13.53 14.2701C13.39 14.4401 13.24 14.4601 12.99 14.3301C12.74 14.2101 11.94 13.9401 11 13.1001C10.26 12.4401 9.77005 11.6301 9.62005 11.3801C9.48005 11.1301 9.60005 11.0001 9.73005 10.8701C9.84005 10.7601 9.98005 10.5801 10.1 10.4401C10.22 10.3001 10.27 10.1901 10.35 10.0301C10.43 9.86006 10.39 9.72006 10.33 9.60006C10.27 9.48006 9.77005 8.26006 9.57005 7.76006C9.37005 7.28006 9.16005 7.34006 9.01005 7.33006H8.53005C8.36005 7.33006 8.10005 7.39006 7.87005 7.64006C7.65005 7.89006 7.01005 8.49006 7.01005 9.71006C7.01005 10.9301 7.90005 12.1101 8.02005 12.2701C8.14005 12.4401 9.77005 14.9401 12.25 16.0101C12.84 16.2701 13.3 16.4201 13.66 16.5301C14.25 16.7201 14.79 16.6901 15.22 16.6301C15.7 16.5601 16.69 16.0301 16.89 15.4501C17.1 14.8701 17.1 14.3801 17.03 14.2701C16.96 14.1601 16.81 14.1101 16.56 13.9901Z' fill='black'/%3E%3C/svg%3E%0A");
    width: 24px;
    height: 24px;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.05 4.91006C18.1332 3.98399 17.0412 3.24973 15.8377 2.75011C14.6341 2.25049 13.3432 1.99552 12.04 2.00006C6.58005 2.00006 2.13005 6.45006 2.13005 11.9101C2.13005 13.6601 2.59005 15.3601 3.45005 16.8601L2.05005 22.0001L7.30005 20.6201C8.75005 21.4101 10.38 21.8301 12.04 21.8301C17.5 21.8301 21.9501 17.3801 21.9501 11.9201C21.9501 9.27006 20.92 6.78006 19.05 4.91006ZM12.04 20.1501C10.56 20.1501 9.11005 19.7501 7.84005 19.0001L7.54005 18.8201L4.42005 19.6401L5.25005 16.6001L5.05005 16.2901C4.2278 14.977 3.79119 13.4593 3.79005 11.9101C3.79005 7.37006 7.49005 3.67006 12.03 3.67006C14.23 3.67006 16.3 4.53006 17.85 6.09006C18.6175 6.85402 19.2257 7.76272 19.6394 8.76348C20.0531 9.76425 20.2641 10.8372 20.26 11.9201C20.2801 16.4601 16.58 20.1501 12.04 20.1501ZM16.56 13.9901C16.31 13.8701 15.09 13.2701 14.87 13.1801C14.64 13.1001 14.48 13.0601 14.31 13.3001C14.14 13.5501 13.67 14.1101 13.53 14.2701C13.39 14.4401 13.24 14.4601 12.99 14.3301C12.74 14.2101 11.94 13.9401 11 13.1001C10.26 12.4401 9.77005 11.6301 9.62005 11.3801C9.48005 11.1301 9.60005 11.0001 9.73005 10.8701C9.84005 10.7601 9.98005 10.5801 10.1 10.4401C10.22 10.3001 10.27 10.1901 10.35 10.0301C10.43 9.86006 10.39 9.72006 10.33 9.60006C10.27 9.48006 9.77005 8.26006 9.57005 7.76006C9.37005 7.28006 9.16005 7.34006 9.01005 7.33006H8.53005C8.36005 7.33006 8.10005 7.39006 7.87005 7.64006C7.65005 7.89006 7.01005 8.49006 7.01005 9.71006C7.01005 10.9301 7.90005 12.1101 8.02005 12.2701C8.14005 12.4401 9.77005 14.9401 12.25 16.0101C12.84 16.2701 13.3 16.4201 13.66 16.5301C14.25 16.7201 14.79 16.6901 15.22 16.6301C15.7 16.5601 16.69 16.0301 16.89 15.4501C17.1 14.8701 17.1 14.3801 17.03 14.2701C16.96 14.1601 16.81 14.1101 16.56 13.9901Z' fill='%23854ADE'/%3E%3C/svg%3E%0A");
    }
  }
}



/**************************** Animations */
@keyframes showFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}