#section-page {
  padding-top: 40px;
}

.page-content {
  margin-top: 48px;

  .contacts {
    margin-top: 64px;
  }

  h1,.h1-title,h2,.h2-title {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 18px;
    line-height: 1.5;

    strong {
      font-weight: 600;
    }
  }

  ul {
    list-style: none;
    margin: 0 0 40px;
    padding: 0;
    li {
      position: relative;
      padding-left: 16px;
      margin-bottom: 12px;
      &:before {
        content: '';
        width: 6px;
        height: 6px;
        background: #D4D4D4;
        border-radius: 100%;
        position: absolute;
        top: 8px;
        left: 0;
      }
    }
  }

  @media (max-width: 600px) {
    margin-top: 32px;
  }
}

.page-info {
  width: 50%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 64px;

  @media (max-width: 1024px) {
    width: 70%;
  }

  @media (max-width: 768px) {
    width: 80%;
    margin-bottom: 40px;
  }

  @media (max-width: 600px) {
    width: 100%;
    margin-bottom: 32px;
    font-size: 14px;
  }
}

.text-block {
  display: flex;
  flex-wrap: wrap;

  &--image &__content {
    width: 60%;
    padding-right: 140px;

    @media (max-width: 1100px) {
      padding-right: 32px;
    }

    @media (max-width: 992px) {
      padding-right: 0;
      width: 70%;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &--image &__image {
    width: 40%;

    @media (max-width: 992px) {
      width: 70%;
      margin-top: 48px;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Ccircle cx='16' cy='16' r='15.5' transform='rotate(-180 16 16)' stroke='black'/%3E%3Cpath d='M17.297 12.1092L12.9727 16.4335L17.297 20.7578' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  width: 32px !important;
  height: 32px !important;
  padding: 0;
  transition: all .3s ease;

  &:before,
  &:after {
    display: none;
  }

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='15.5' transform='rotate(-180 16 16)' stroke='black'/%3E%3Cpath d='M17.2973 11.242L12.973 15.5663L17.2973 19.8906' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
}

.swiper-button-next {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.4'%3E%3Ccircle cx='16' cy='16' r='15.5' stroke='black'/%3E%3Cpath d='M14.703 20.7658L19.0273 16.4415L14.703 12.1172' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  width: 32px !important;
  height: 32px !important;
  padding: 0;
  transition: all .3s ease;

  &:before,
  &:after {
    display: none;
  }

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='15.5' stroke='black'/%3E%3Cpath d='M14.7027 20.758L19.027 16.4337L14.7027 12.1094' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
}

.swiper-pagination-bullet {
  background: #D4D4D4 !important;
  width: 6px !important;
  height: 6px !important;
  opacity: 1 !important;
  margin: 0 4px !important;

  &.swiper-pagination-bullet-active {
    background-color: #854ADE !important;
  }
}

.block-rekvizit {
  &__name {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
  }
}

.block-rekvizit-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;

  @media (max-height: 1024px) {
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    margin-bottom: -16px;
  }
}

.block-rekvizit-item {
  width: calc(100% / 4);
  margin-bottom: 40px;

  &__name {
    color: #8C8C8C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 8px;

    @media (max-width: 992px) {
      font-size: 14px;
    }
  }

  &__value {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;

    @media (max-width: 992px) {
      font-size: 14px;
    }
  }

  @media (max-height: 1024px) {
    width: calc(100% / 3);

    &:nth-child(4) {
      display: none;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 16px;

    &:nth-child(4) {
      display: none;
    }
  }
}

.error-page-btn {
  margin-top: 64px;
}


/**************************** Brands page */
.brands-page {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &__filter {
    border-radius: 8px;
    background-color: #EFEFEF;
    width: 304px;
    padding: 26px 24px;

    @media (max-width: 992px) {
      width: 340px;
      padding: 0;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_612_20159)'%3E%3Cpath d='M15.8711 4.25939C15.8711 4.12502 15.818 3.9875 15.7148 3.88437C15.5086 3.67812 15.1711 3.67812 14.9648 3.88437L7.90547 10.9437L0.94922 3.9875C0.74297 3.78125 0.405471 3.78125 0.19922 3.9875C-0.00702978 4.19375 -0.00702981 4.53125 0.19922 4.7375L7.53047 12.0719C7.73672 12.2781 8.07422 12.2781 8.28047 12.0719L15.7148 4.6375C15.8211 4.53125 15.8711 4.39689 15.8711 4.25939Z' fill='%238C8C8C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_612_20159'%3E%3Crect width='16' height='16' fill='white' transform='translate(16 16) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: calc(100% - 16px) 21px;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__results {
    width: calc(100% - 304px);
    padding-left: 32px;

    @media (max-width: 992px) {
      width: 100%;
      padding-left: 0;
      padding-top: 32px;
    }
  }
}

.brands-filter {
  position: relative;

  &__title {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;

    @media (max-width: 992px) {
      margin-bottom: 0;
      padding: 17px 48px 17px 16px;
    }
  }

  &__title-count {
    width: 20px;
    height: 20px;
    display: inline-flex;
    color: #FFF;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-size: 14px;
    font-style: normal;
    background: #854ADE;
    border-radius: 100%;
    font-weight: 600;
    
    &:empty {
      display: none;
    }

    @media (min-width: 993px) {
      display: none;
    }
  }

  &__reset {
    position: absolute;
    top: 2px;
    right: 0;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    opacity: .5;
    transition: all .3s ease;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }

    @media (max-width: 992px) {
      top: 18px;
      right: 44px;
    }
  }
}

.brands-filter-block {
  margin-bottom: 24px;

  &__title {
    width: 100%;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.128906 11.7406C0.128906 11.875 0.182031 12.0125 0.285156 12.1156C0.491406 12.3219 0.828906 12.3219 1.03516 12.1156L8.09453 5.05625L15.0508 12.0125C15.257 12.2188 15.5945 12.2188 15.8008 12.0125C16.007 11.8063 16.007 11.4688 15.8008 11.2625L8.46953 3.92812C8.26328 3.72187 7.92578 3.72187 7.71953 3.92812L0.285156 11.3625C0.178906 11.4687 0.128906 11.6031 0.128906 11.7406Z' fill='%238C8C8C'/%3E%3C/svg%3E%0A");
    background-position: 100% 2px;
    background-repeat: no-repeat;
    border: none;
    transition: all .3s ease;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-align: left;

    &:hover {
      opacity: .7;
    }
  }

  &__form {
    display: none;
    padding-top: 16px;
  }

  &.is-opened &__title {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_592_2492)'%3E%3Cpath d='M15.8711 4.25939C15.8711 4.12502 15.818 3.9875 15.7148 3.88437C15.5086 3.67812 15.1711 3.67812 14.9648 3.88437L7.90547 10.9437L0.94922 3.9875C0.74297 3.78125 0.405471 3.78125 0.19922 3.9875C-0.00702978 4.19375 -0.00702981 4.53125 0.19922 4.7375L7.53047 12.0719C7.73672 12.2781 8.07422 12.2781 8.28047 12.0719L15.7148 4.6375C15.8211 4.53125 15.8711 4.39689 15.8711 4.25939Z' fill='%238C8C8C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_592_2492'%3E%3Crect width='16' height='16' fill='white' transform='translate(16 16) rotate(-180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  }

  @media (max-width: 992px) {
    display: none;
    padding: 0 16px;
  }
}

.brands-results-row {
  display: flex;
  flex-wrap: wrap;
}

.brands-results-item {
  width: calc(100% / 3);
  border-top: 1px solid rgba(140, 140, 140, 0.3);
  border-bottom: 1px solid rgba(140, 140, 140, 0.3);
  padding: 16px 0;
  margin-bottom: -1px;
  transition: all .3s ease;
  display: inline-flex;
  align-items: center;

  img {
    width: 50%;
  }

  &:hover {
    opacity: .5;
  }

  @media (max-width: 768px) {
    width: calc(100% / 2);
  }
}

.results-footer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;

  &__count {
    opacity: .5;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}


/**************************** pagination */
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination-item {
  margin: 0 !important;
  padding: 0 !important;

  &:before {
    display: none;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: #8C8C8C;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 24px;
    height: 24px;
    text-decoration: none;
    transition: all .3s ease;
    border-radius: 6px;

    &-current {
      background-color: #EFEFEF;
      color: #000;
    }

    &-first {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 7L6 12L11 17' stroke='%238C8C8C' stroke-width='1.2' stroke-linecap='round'/%3E%3Cpath d='M18 7L13 12L18 17' stroke='%238C8C8C' stroke-width='1.2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
    }

    &-prev {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 7L9.5 12L14.5 17' stroke='%238C8C8C' stroke-width='1.2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
    }

    &-next {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 17L14.5 12L9.5 7' stroke='%238C8C8C' stroke-width='1.2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
    }

    &-last {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 17L18 12L13 7' stroke='%238C8C8C' stroke-width='1.2' stroke-linecap='round'/%3E%3Cpath d='M6 17L11 12L6 7' stroke='%238C8C8C' stroke-width='1.2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:hover {
      background-color: #EFEFEF;
    }
  }
}