footer {
  border-top: 1px solid #D4D4D4;
  padding: 32px 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 992px) {
    flex-wrap: wrap;
  }
}

.footer-logo {

  img {
    width: 180px;
    transition: all .3s ease;
  }

  &:hover {
    img {
      opacity: .8;
    }
  }

  @media (max-width: 992px) {
    width: 50%;
    order: 1;
  }
}

.footer-copyright {
  color: #8C8C8C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-right: auto;
  padding-left: 44px;

  @media (max-width: 1024px) {
    padding-left: 0;
    margin-right: 0;
  }

  @media (max-width: 992px) {
    width: 50%;
    order: 3;
    margin-top: 24px;
  }
}

.footer-social {
  display: inline-flex;
  align-items: center;
  a {
    font-size: 0;
    margin: 0 12px;
  }

  @media (max-width: 992px) {
    width: 50%;
    order: 2;
    justify-content: flex-end;

    a {
      margin: 0 0 0 24px;
    }
  }
}

.footer-phone {
  a {
    text-decoration: none;
    font-size: 16px;
    margin-left: 40px;
    transition: all .3s ease;

    &:hover {
      color: #854ADE;
    }

    @media (max-width: 1024px) {
      margin-left: 0;
    }
  }

  @media (max-width: 992px) {
    width: 50%;
    order: 4;
    justify-content: flex-end;
    align-items: flex-end;
    display: inline-flex;
  }
}

.footer-btn {
  margin-left: 70px;

  @media (max-width: 1024px) {
    margin-left: 0;
  }

  @media (max-width: 992px) {
    display: none;
  }
}