{% extends 'base.html' %}
{% block seo %}
    <title>Astra Technology | {{ page_title }}</title>
    <meta name="description" content="{{ page_description }}">
    <meta name="keywords" content="{{ page_keywords }}">
    <meta property="og:title" content="Astra Technology | {{ page_title }}">
    <meta property="og:description" content="{{ page_description }}">
    <meta property="og:keywords" content="{{ page_keywords }}">
    <meta property="og:url" content="Astra Technology | {{ page_title }}">
{% endblock %}
{% load static %}
{% load length %}
{% load inside %}
{% block content %}
	<div class="filter--loader">
		<div class="filter--loader__content">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="200" height="200" style="shape-rendering: auto; display: block; background: transparent;" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g transform="rotate(0 50 50)">
		<rect fill="#854ade" height="6" width="3" ry="0" rx="0" y="32" x="48.5">
			<animate repeatCount="indefinite" begin="-0.9166666666666666s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
		</rect>
		</g><g transform="rotate(30 50 50)">
		<rect fill="#854ade" height="6" width="3" ry="0" rx="0" y="32" x="48.5">
			<animate repeatCount="indefinite" begin="-0.8333333333333334s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
		</rect>
		</g><g transform="rotate(60 50 50)">
		<rect fill="#854ade" height="6" width="3" ry="0" rx="0" y="32" x="48.5">
			<animate repeatCount="indefinite" begin="-0.75s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
		</rect>
		</g><g transform="rotate(90 50 50)">
		<rect fill="#854ade" height="6" width="3" ry="0" rx="0" y="32" x="48.5">
			<animate repeatCount="indefinite" begin="-0.6666666666666666s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
		</rect>
		</g><g transform="rotate(120 50 50)">
		<rect fill="#854ade" height="6" width="3" ry="0" rx="0" y="32" x="48.5">
			<animate repeatCount="indefinite" begin="-0.5833333333333334s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
		</rect>
		</g><g transform="rotate(150 50 50)">
		<rect fill="#854ade" height="6" width="3" ry="0" rx="0" y="32" x="48.5">
			<animate repeatCount="indefinite" begin="-0.5s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
		</rect>
		</g><g transform="rotate(180 50 50)">
		<rect fill="#854ade" height="6" width="3" ry="0" rx="0" y="32" x="48.5">
			<animate repeatCount="indefinite" begin="-0.4166666666666667s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
		</rect>
		</g><g transform="rotate(210 50 50)">
		<rect fill="#854ade" height="6" width="3" ry="0" rx="0" y="32" x="48.5">
			<animate repeatCount="indefinite" begin="-0.3333333333333333s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
		</rect>
		</g><g transform="rotate(240 50 50)">
		<rect fill="#854ade" height="6" width="3" ry="0" rx="0" y="32" x="48.5">
			<animate repeatCount="indefinite" begin="-0.25s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
		</rect>
		</g><g transform="rotate(270 50 50)">
		<rect fill="#854ade" height="6" width="3" ry="0" rx="0" y="32" x="48.5">
			<animate repeatCount="indefinite" begin="-0.16666666666666666s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
		</rect>
		</g><g transform="rotate(300 50 50)">
		<rect fill="#854ade" height="6" width="3" ry="0" rx="0" y="32" x="48.5">
			<animate repeatCount="indefinite" begin="-0.08333333333333333s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
		</rect>
		</g><g transform="rotate(330 50 50)">
		<rect fill="#854ade" height="6" width="3" ry="0" rx="0" y="32" x="48.5">
			<animate repeatCount="indefinite" begin="0s" dur="1s" keyTimes="0;1" values="1;0" attributeName="opacity"></animate>
		</rect>
		</g><g></g></g><!-- [ldio] generated by https://loading.io --></svg>
		</div>
	</div>
    <!-- breadcrumbs -->
    <section class="section-block section-block--oborudovanie" id="section-page">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item">
                    <a href="{% url 'main_page' %}" class="breadcrumbs-item__link">Главная</a>
                </li>
				{% if not current_category %}
                <li class="breadcrumbs-item">
                    {{ catalog_page_name }}
                </li>
				{% else %}
                <li class="breadcrumbs-item">
                    <a href="{% url 'products_view' %}" class="breadcrumbs-item__link">{{ catalog_page_name }}</a>
                </li>
                <li class="breadcrumbs-item">
                    {{ current_category.cat_title }}
                </li>
				{% endif %}
            </ul>
            <div class="page-content page-content__filter">
				{% if not current_category %}
                <h1>{{ catalog_page_name }}</h1>
				{% else %}
                <p class="filter_title">{{ catalog_page_name }}</p>
                <h1 class="v-hidden">{{ current_category.cat_title }}</h1>
				{% endif %}
				<ul class="filter-tabs">
					<li>
						<a href="/products/"{% if not current_category %} class="filter-tabs__active"{% endif %}>Все товары</a>
					</li>
					{% for i in categories %}
					<li>
						<a href="/products/{{ i.slug }}/"{% if current_category == i %} class="filter-tabs__active"{% endif %}>{{ i.cat_title }}</a>
					</li>
					{% endfor %}
				</ul>
				<div class="filter-form__category">
					<select class="filter-form-select" data-select-style="primary" onchange="if (this.value) window.location.href=this.value">
						<option value="/products/"{% if not current_category %} selected{% endif %}>Все товары</option>
						{% for i in categories %}
						<option value="/products/{{ i.slug }}/"{% if current_category == i %} selected{% endif %}>{{ i.cat_title }}</option>
						{% endfor %}
					</select>
				</div>
            </div>
			<div class="main-filter">
				<div class="main-filter__form">
					<form action="/products_ajax/{% if current_category %}{{ current_category.slug }}/{% endif %}" method="POST" class="main-filter__js">
						{% csrf_token %}
						<div class="main_filter__search">
							<input type="text" name="search" placeholder="Название товара" class="main_filter__search--input" value="{{ params.0 }}">
							<a href="javascript:void(0);">
								<svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M8.41113 0C13.0565 0 16.8223 3.75614 16.8223 8.38957C16.8223 10.5958 15.9666 12.6013 14.5706 14.099L19 18.517L17.5122 20L12.9515 15.4498C11.6414 16.2897 10.0841 16.7791 8.41113 16.7791C3.76579 16.7791 0 13.023 0 8.38957C0 3.75614 3.76579 0 8.41113 0ZM8.41113 2.09739C4.92712 2.09739 2.10278 4.91449 2.10278 8.38957C2.10278 11.8646 4.92712 14.6817 8.41113 14.6817C9.86331 14.6817 11.1993 14.1903 12.2655 13.3678L13.0521 12.5844L13.0838 12.6161C14.1 11.4992 14.7195 10.0166 14.7195 8.38957C14.7195 4.91449 11.8951 2.09739 8.41113 2.09739Z" fill="#C8C8C8"/>
								</svg>
							</a>
						</div>
						{% if subcategories %}
						<div class="main_filter__dropdown">
							<a href="javascript:void(0);">
								<span>
									Подкатегория<span class="main_filter__amount{% if subcategory_len > 0 %} main_filter__amount--active{% endif %}">{{ subcategory_len }}</span>
								</span>
								<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 7.50127C0 7.62779 0.0537072 7.75726 0.157962 7.85436C0.366472 8.04855 0.707671 8.04855 0.916181 7.85436L8.05292 1.2078L15.0854 7.75726C15.2939 7.95145 15.6351 7.95145 15.8436 7.75726C16.0521 7.56308 16.0521 7.24531 15.8436 7.05112L8.43203 0.145642C8.22352 -0.0485473 7.88232 -0.0485473 7.67381 0.145642L0.157962 7.14527C0.0505479 7.24531 0 7.37181 0 7.50127Z" fill="#969696"/>
								</svg>
							</a>
							<div class="main_filter__dropdown--content{% if subcategories.count > 5 %} main_filter__dropdown--content--scroll{% endif %}">
								{% if subcategories.count > 5 %}
								<div class="main_filter__dropdown--bg"></div>
								<div class="main_filter__dropdown--search">
									<input type="text" class="inner--search" placeholder="Поиск">
									<p class="inner--search__no">Ничего не найдено</p>
								</div>
								{% endif %}
								<div class="main_filter__dropdown--wrapper">
									{% for i in subcategories %}
									<div class="main_filter__checkbox">
										<input type="checkbox" name="subcategory" value="{{ i.id }}" id="subcategory-{{ i.id }}" class="check__subcategory js-toggle-check"{% if i.id in params.1 %} checked{% endif %}>
										<label for="subcategory-{{ i.id }}">{{ i.subcategory_title }}</label>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
						{% endif %}
						{% if brands %}
						<div class="main_filter__dropdown">
							<a href="javascript:void(0);">
								<span>
									Бренд<span class="main_filter__amount{% if brand_len > 0 %} main_filter__amount--active{% endif %}">{{ brand_len }}</span>
								</span>
								<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 7.50127C0 7.62779 0.0537072 7.75726 0.157962 7.85436C0.366472 8.04855 0.707671 8.04855 0.916181 7.85436L8.05292 1.2078L15.0854 7.75726C15.2939 7.95145 15.6351 7.95145 15.8436 7.75726C16.0521 7.56308 16.0521 7.24531 15.8436 7.05112L8.43203 0.145642C8.22352 -0.0485473 7.88232 -0.0485473 7.67381 0.145642L0.157962 7.14527C0.0505479 7.24531 0 7.37181 0 7.50127Z" fill="#969696"/>
								</svg>
							</a>
							<div class="main_filter__dropdown--content{% if brands.count > 5 %} main_filter__dropdown--content--scroll{% endif %}">
								{% if brands.count > 5 %}
								<div class="main_filter__dropdown--bg"></div>
								<div class="main_filter__dropdown--search">
									<input type="text" class="inner--search" placeholder="Поиск">
									<p class="inner--search__no">Ничего не найдено</p>
								</div>
								{% endif %}
								<div class="main_filter__dropdown--wrapper">
									{% for i in brands %}
									<div class="main_filter__checkbox">
										<input type="checkbox" name="brand" value="{{ i.id }}" id="brand-{{ i.id }}" class="check__brand js-toggle-check"{% if i.id in params.2 %} checked{% endif %}>
										<label for="brand-{{ i.id }}">{{ i.brand_title }}</label>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
						{% endif %}
						{% if countries %}
						<div class="main_filter__dropdown">
							<a href="javascript:void(0);">
								<span>
									Страна<span class="main_filter__amount{% if country_len > 0 %} main_filter__amount--active{% endif %}">{{ country_len }}</span>
								</span>
								<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 7.50127C0 7.62779 0.0537072 7.75726 0.157962 7.85436C0.366472 8.04855 0.707671 8.04855 0.916181 7.85436L8.05292 1.2078L15.0854 7.75726C15.2939 7.95145 15.6351 7.95145 15.8436 7.75726C16.0521 7.56308 16.0521 7.24531 15.8436 7.05112L8.43203 0.145642C8.22352 -0.0485473 7.88232 -0.0485473 7.67381 0.145642L0.157962 7.14527C0.0505479 7.24531 0 7.37181 0 7.50127Z" fill="#969696"/>
								</svg>
							</a>
							<div class="main_filter__dropdown--content{% if countries.count > 5 %} main_filter__dropdown--content--scroll{% endif %}">
								{% if countries.count > 5 %}
								<div class="main_filter__dropdown--bg"></div>
								<div class="main_filter__dropdown--search">
									<input type="text" class="inner--search" placeholder="Поиск">
									<p class="inner--search__no">Ничего не найдено</p>
								</div>
								{% endif %}
								<div class="main_filter__dropdown--wrapper">
									{% for i in countries %}
									<div class="main_filter__checkbox">
										<input type="checkbox" name="country" value="{{ i.id }}" id="country-{{ i.id }}" class="check__country js-toggle-check"{% if i.id in params.3 %} checked{% endif %}>
										<label for="country-{{ i.id }}">{{ i.country_title }}</label>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
						{% endif %}
						<div class="main_filter__dropdown{% if params.4 or params.5 %} main_filter__dropdown--active{% endif %}">
							<a href="javascript:void(0);">
								<span>Стоимость</span>
								<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 7.50127C0 7.62779 0.0537072 7.75726 0.157962 7.85436C0.366472 8.04855 0.707671 8.04855 0.916181 7.85436L8.05292 1.2078L15.0854 7.75726C15.2939 7.95145 15.6351 7.95145 15.8436 7.75726C16.0521 7.56308 16.0521 7.24531 15.8436 7.05112L8.43203 0.145642C8.22352 -0.0485473 7.88232 -0.0485473 7.67381 0.145642L0.157962 7.14527C0.0505479 7.24531 0 7.37181 0 7.50127Z" fill="#969696"/>
								</svg>
							</a>
							<div class="main_filter__dropdown--content">
								<div class="main_filter__price">
									<div class="main_filter__price--input">
										<input type="number" name="price_from" placeholder="от" class="price_from js-toggle-price" value="{{ params.4 }}">
										<span>
											₽
										</span>
									</div>
									<div class="main_filter__price--input">
										<input type="number" name="price_to" placeholder="до" class="price_to js-toggle-price" value="{{ params.5 }}">
										<span>
											₽
										</span>
									</div>
								</div>
							</div>
						</div>
						{% if filters %}
						{% for i in filters.items %}
						{% with m=forloop.counter %}
						<div class="main_filter__dropdown">
							<a href="javascript:void(0);">
								<span>
									{{ i.0 }}<span class="main_filter__amount{% if i.1|inside:params.6 > 0 %} main_filter__amount--active{% endif %}">{{ i.1|inside:params.6 }}</span>
								</span>
								<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 7.50127C0 7.62779 0.0537072 7.75726 0.157962 7.85436C0.366472 8.04855 0.707671 8.04855 0.916181 7.85436L8.05292 1.2078L15.0854 7.75726C15.2939 7.95145 15.6351 7.95145 15.8436 7.75726C16.0521 7.56308 16.0521 7.24531 15.8436 7.05112L8.43203 0.145642C8.22352 -0.0485473 7.88232 -0.0485473 7.67381 0.145642L0.157962 7.14527C0.0505479 7.24531 0 7.37181 0 7.50127Z" fill="#969696"/>
								</svg>
							</a>
							<div class="main_filter__dropdown--content{% if i.1|length > 5 %} main_filter__dropdown--content--scroll{% endif %}">
								{% if i.1|length > 5 %}
								<div class="main_filter__dropdown--bg"></div>
								<div class="main_filter__dropdown--search">
									<input type="text" class="inner--search" placeholder="Поиск">
									<p class="inner--search__no">Ничего не найдено</p>
								</div>
								{% endif %}
								<div class="main_filter__dropdown--wrapper">
									{% for k in i.1 %}
									<div class="main_filter__checkbox">
										<input type="checkbox" name="params" value="{{ k.id }}" id="filter-{{ k.id }}" class="check__params js-toggle-check"{% if k.id in params.6 %} checked{% endif %}>
										<label for="filter-{{ k.id }}">{{ k.parameter_title }}</label>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
						{% endwith %}
						{% endfor %}
						{% endif %}
						<div class="main_filter__checkbox">
							<input type="checkbox" name="instock" value="1" id="instock" class="check__instock js-toggle-check"{% if params.7 %} checked{% endif %}>
							<label for="instock">В наличии</label>
						</div>
					</form>
					<div class="filter--reset">
						<a href="/products/{% if current_category %}{{ current_category.slug }}/{% endif %}">Сбросить фильтр</a>
					</div>
				</div>
				<div class="main-filter__content">
					{% include 'ajax.html' %}
				</div>
			</div>
			{% include 'seo_faq.html' %}
        </div>
    </section>
    <!-- section contacts -->
    {% include 'contacts_part.html' %}
{% endblock %}