{% extends 'base.html' %}
{% load float %}
{% load static %}
{% block seo %}
    <title>Astra Technology | {{ page_title }}</title>
    <meta name="description" content="{{ page_description }}">
    <meta name="keywords" content="{{ page_keywords }}">
    <meta property="og:title" content="Astra Technology | {{ page_title }}">
    <meta property="og:description" content="{{ page_description }}">
    <meta property="og:keywords" content="{{ page_keywords }}">
    <meta property="og:url" content="Astra Technology | {{ page_title }}">
{% endblock %}
{% block content %}
    <!-- breadcrumbs -->
    <section class="section-block section-block--oborudovanie" id="section-page">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item">
                    <a href="{% url 'main_page' %}" class="breadcrumbs-item__link">Главная</a>
                </li>
                <li class="breadcrumbs-item">
                    <a href="/products/" class="breadcrumbs-item__link">{{ catalog_page.section_title }}</a>
                </li>
                <li class="breadcrumbs-item">
                    <a href="/products/{{ current_category.slug }}/" class="breadcrumbs-item__link">{{ current_category.cat_title }}</a>
                </li>
                <li class="breadcrumbs-item">
                    <a href="/products/{{ current_category.slug }}/{{ current_subcategory.slug }}/" class="breadcrumbs-item__link">{{ current_subcategory.subcategory_title }}</a>
                </li>
                <li class="breadcrumbs-item">
                    {{ current_product.product_title }}
                </li>
            </ul>
            <div class="page-content page-content__inner">
				<div class="product-inner">
                	<h1>{{ current_product.product_title }}</h1>
					<div class="product-inner__main">
						<div class="product-inner__main--slider">
							<div class="swiper banner-swiper">
								<div class="swiper-wrapper">
									{% if not current_product.image %}
									<a class="swiper-slide" href="{% static 'placeholder.png' %}" data-fancybox="gallery">
										<img src="{% static 'placeholder.png' %}" alt="{{ current_product.product_title }}">
									</a>
									{% else %}
									<a class="swiper-slide" href="{{ current_product.image.url }}" data-fancybox="gallery">
										<img src="{{ current_product.image.url }}" alt="{{ current_product.product_title }}">
									</a>
									{% endif %}
									{% for i in current_product.product_slider.all %}
									<a class="swiper-slide" href="{{ i.image.url }}" data-fancybox="gallery">
										<img src="{{ i.image.url }}" alt="{{ i.alt }}">
									</a>
									{% endfor %}
								</div>
							</div>
							<div class="swiper thumb-swiper">
								<div class="swiper-wrapper">
									{% if not current_product.image %}
									<div class="swiper-slide">
										<img src="{% static 'placeholder.png' %}" alt="{{ current_product.product_title }}">
									</div>
									{% else %}
									<div class="swiper-slide">
										<img src="{{ current_product.image.url }}" alt="{{ current_product.product_title }}">
									</div>
									{% endif %}
									{% for i in current_product.product_slider.all %}
									<div class="swiper-slide">
										<img src="{{ i.image.url }}" alt="{{ i.alt }}">
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="product-inner__main--info">
							{% if current_product.product_price %}
							<p class="product-info__main--price">{{ current_product.product_price|float }} <span>₽</span></p>
							{% else %}
							<p class="product-info__main--price">Цена по запросу</p>
							{% endif %}
							{% if current_product.instock %}
							<p class="filter-card__instock">В наличии</p>
							{% else %}
							<p class="filter-card__instock filter-card__instock--empty">Нет в наличии</p>
							{% endif %}
							<div class="filter-card__chars">
								<p><span>Артикул</span> {{ current_product.article }}</p>
								<p><span>Производитель</span> {{ current_product.brands.brand_title }}</p>
								<p><span>Страна производства</span> {{ current_product.countries.country_title }}</p>
							</div>
							<a href="javascript:void(0);" class="product-info__main--order js-popup-link" data-popup="order">Заказать {{ i.subcategories.id }}</a>
							<div class="product-inner_main--text">
								<p><strong>Краткое описание</strong></p>
								{% autoescape off %}{{ current_product.product_description }}{% endautoescape %}
							</div>
						</div>
					</div>
					<div class="product-inner__additional">
						<div class="product-inner__additional--tabs--sel">
							<select class="filter-form-select filter-form--tabs" name="tab" data-select-style="primary" onchange="change_tab(this.value);">
								<option value="tab-1" selected>Характеристики</option>
								<option value="tab-2">Описание</option>
								{% if current_product.product_file.all %}
								<option value="tab-3">Загрузки</option>
								{% endif %}
								<option value="tab-4">Оплата и доставка</option>
							</select>
						</div>
						<div class="product-inner__additional--tabs">
							<a href="javascript:void(0);" attr-id="tab-1" class="product-inner__additional--activetab">Характеристики</a>
							<a href="javascript:void(0);" attr-id="tab-2">Описание</a>
							{% if current_product.product_file.all %}
							<a href="javascript:void(0);" attr-id="tab-3">Загрузки</a>
							{% endif %}
							<a href="javascript:void(0);" attr-id="tab-4">Оплата и доставка</a>
						</div>
						<div class="product-inner__additional--content">
							<div class="product-inner__additional--item product-inner__additional--activeitem" id="tab-1">
								<div class="product-inner__additional--flex">
									{% for i in current_product.product_chars.all %}
										<div class="product-detail__row">
											<div class="product-detail__title">{{ i.title }}</div>
											<div class="product-detail__value">{{ i.subtitle|safe }}</div>
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="product-inner__additional--item" id="tab-2">
								<div class="product-inner__additional--flex">
									{% autoescape off %}{{ current_product.product_description }}{% endautoescape %}
								</div>
							</div>
							{% if current_product.product_file.all %}
							<div class="product-inner__additional--item" id="tab-3">
								<div class="product-inner__additional--flex">
									{% for item in current_product.product_file.all %}
									<p><a href="{{ item.file.url }}" target="_blank">{{ item.name }}</a></p>
									{% endfor %}
								</div>
							</div>
							{% endif %}
							<div class="product-inner__additional--item" id="tab-4">
								<div class="product-inner__additional--flex">
									{% autoescape off %}{{ catalog_page.dostavka }}{% endautoescape %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% include 'seo_faq.html' %}
			{% if similar_products %}
			<div class="product-inner__similar">
				<h2>Похожие товары</h2>
				<div class="product-inner__similar--items">
					<div class="filter-form__items">
						{% for i in similar_products %}
						<div class="filter-form__items--card">
							<a href="/products/{{ i.subcategories.categories.slug }}/{{ i.subcategories.slug }}/{{ i.slug }}/" class="filter-card__image">
								{% if i.image %}
								<img src="{{ i.image.url }}" alt="{{ i.product_title }}">
								{% else %}
								<img src="{% static 'placeholder.png' %}" alt="{{ i.product_title }}">
								{% endif %}
							</a>
							<a href="/products/{{ i.subcategories.categories.slug }}/{{ i.subcategories.slug }}/{{ i.slug }}/"class="filter-card__url">{{ i.product_title }}</a>
							<div class="filter-card__info">
								{% if i.product_price %}
								<p class="filter-card__price">{{ i.product_price|float }} <span>₽</span></p>
								{% else %}
								<p class="filter-card__price">Цена по запросу</p>
								{% endif %}
								{% if i.instock %}
								<p class="filter-card__instock">В наличии</p>
								{% else %}
								<p class="filter-card__instock filter-card__instock--empty">Нет в наличии</p>
								{% endif %}
							</div>
							<p class="filter-card__text">{{ i.article }}</p>
							<p class="filter-card__text">{{ i.countries.country_title }}</p>
							<p class="filter-card__text filter-card__text--black">{{ i.brands.brand_title }}</p>
							<a href="javascript:void(0);" class="filter-card__order js-popup-link" data-popup="order">Заказать</a>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</section>
{% endblock %}