.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  color: #8C8C8C;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;

  &:not(:last-child):after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.37405 1C3.27916 1 3.18205 1.03357 3.10923 1.09873C2.96359 1.22905 2.96359 1.44229 3.10923 1.57261L8.09415 6.03307L3.18205 10.4284C3.03641 10.5587 3.03641 10.7719 3.18205 10.9023C3.32769 11.0326 3.56602 11.0326 3.71166 10.9023L8.89077 6.27002C9.03641 6.1397 9.03641 5.92645 8.89077 5.79613L3.64105 1.09873C3.56602 1.03159 3.47114 1 3.37405 1Z' fill='%238C8C8C'/%3E%3C/svg%3E%0A");
    width: 12px;
    height: 12px;
    margin: 0 6px;
    display: inline-flex;
    position: relative;
    top: 2px;
  }

  &__link {
    color: #8C8C8C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    transition: all .3s ease;
    text-decoration: none;

    &:hover {
      color: #854ADE;
    }
  }
}