.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__map {
    width: 45%;
    padding-right: 45px;

    #map {
      border-radius: 100%;
      border: 0;
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      overflow: hidden;

      [class*=ymaps-2][class*=-ground-pane] {
        -webkit-filter: grayscale(100%);
        border-radius: 100%;
      }

      .ymaps-2-1-79-map-copyrights-promo {
        display: none;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      order: 2;
      padding-right: 0;
      margin-top: 40px;
    }
  }

  &__info {
    width: 55%;
    padding-left: 60px;

    p {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.3;
      margin-bottom: 24px;

      a {
        text-decoration: none;
        transition: all .3s ease;

        &:hover {
          color: #854ADE;
        }
      }

      @media (max-width: 1024px) {
        font-size: 20px;
      }

      @media (max-width: 768px) {
        font-size: 18px;
      }
    }

    @media (max-width: 768px) {
      width: 100%;
      order: 1;
      padding-left: 0;
    }
  }

  &__info-phone {
    white-space: nowrap;
    &:not(:last-child) {
      margin-right: 14px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    a {
      display: inline-flex;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.3;
      margin-bottom: 24px;
      text-decoration: none;
      transition: all .3s ease;
      &:first-child {
        margin-right: 40px;
      }
      &.social-link:not(:last-child) {
        margin-right: 24px;
      }
      &:hover {
        color: #854ADE;
      }


      @media (max-width: 1024px) {
        font-size: 20px;
      }

      @media (max-width: 768px) {
        font-size: 18px;
      }
    }
  }

  &__btn {
    margin-top: 24px;
    margin-bottom: 24px;

    @media (max-width: 767px) {
      margin-top: 12px;
    }
  }

  &__rekvizit {
    position: relative;
  }

  &--reverse {
    align-items: flex-start;
  }

  &--reverse &__info {
    width: 70%;
    padding-left: 0;
    padding-right: 60px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &--reverse &__map {
    width: 30%;
    padding-right: 0;
    justify-content: center;
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;

    .contacts__btn {
      margin-top: 0;
      margin-bottom: 30px;
    }

    @media (max-width: 768px) {
      margin-top: 20px;
      width: 100%;
      align-items: flex-start;
      padding-left: 0;
    }
  }
}

.rekvizits-popup {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
  padding: 24px;
  width: 420px;
  position: absolute;
  bottom: 30px;
  left: 0;
  display: none;
  opacity: 0;

  &__close {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z' fill='%23D5D5D5'/%3E%3C/svg%3E%0A");
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      opacity: .9;
      transform: rotate(90deg);
    }

    @media (max-width: 767px) {
      top: 12px;
      right: 12px;
    }
  }

  &.is-opened {
    display: block;
    animation: showRekvizit .3s ease forwards;
  }

  &__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__subtitle {
    color: #8C8C8C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 16px;
  }

  &__row {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__row-col-name {
    width: 40%;
    color: #8C8C8C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-right: 6px;

    @media (max-width: 767px) {
      width: 100%;
      padding-right: 0;
    }
  }

  &__row-col-value {
    width: 60%;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  @media (max-width: 992px) {
    left: auto;
    right: 100px;
  }

  @media (max-width: 767px) {
    position: fixed;
    top: 18px;
    right: 18px;
    left: 18px;
    bottom: 56px;
    width: auto;
    z-index: 100;
    border-radius: 0;
    padding: 40px 24px;
    overflow-y: auto;
  }

  @media (max-width: 480px) {
    width: 90vw;
  }
}

@keyframes showRekvizit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}