.manufactures {
  &__nav {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #D4D4D4;
    margin-bottom: 64px;

    @media (max-width: 1024px) {
      margin-bottom: 48px;
    }

    @media (max-width: 768px) {
      margin-bottom: 40px;
    }

    @media (max-width: 640px) {
      flex-direction: column;
      border-bottom: 0;
      align-items: flex-start;
    }
  }

  &__nav-link {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    border: none;
    position: relative;
    padding: 0 22px 16px 22px;
    transition: all .3s ease;

    &:hover {
      color: #854ADE;
    }

    &.is-selected {
      color: #854ADE;

      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background: linear-gradient(92deg, #37A0E7 4.79%, #C507D9 99.62%);
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
      }
    }

    @media (max-width: 1024px) {
      font-size: 16px;
    }

    @media (max-width: 768px) {
      font-size: 14px;
    }

    @media (max-width: 640px) {
      text-align: left;
      padding: 0 0 4px 0;
      display: inline-flex;
      margin-bottom: 16px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
  }

  &__content-block {
    display: none;
    opacity: 0;
    &.is-selected {
      display: block;
      animation: showFade 1s ease forwards;
    }
  }
}

.manufactures-item {
  width: calc(100% / 7);
  font-size: 0;
  display: inline-flex;
  justify-content: center;

  picture,
  img {
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
  }

  @media (max-width: 1024px) {
    width: calc(100% / 5);
  }

  @media (max-width: 768px) {
    width: calc(100% / 4);
  }

  @media (max-width: 600px) {
    width: calc(100% / 2);
  }
}

.manufactures-slider {
  position: relative;

  &--partneram {
    .swiper-button-prev {
      left: auto;
      right: 48px;
      top: -68px;
      margin: 0;

      @media (max-width: 1024px) {
        display: none;
      }
    }

    .swiper-button-next {
      right: 0;
      top: -68px;
      margin: 0;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  .manufactures-item {
    width: 100%;
    display: block;
  }

  .swiper-pagination {
    @media (min-width: 769px) {
      display: none;
    }
    bottom: -30px !important;
  }
}
