.product-teaser {
  position: relative;

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  &__img {
    overflow: hidden;
    border-radius: 12px;
    background: #EFEFEF;
    margin-bottom: 16px;
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 304/225;
      object-fit: cover;
      border-radius: 12px;
      transition: all .3s ease;
    }
  }

  &__title {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:luminosity'%3E%3Cpath d='M15.9029 0.652308C14.6426 0.219077 13.3343 0 12.0125 0C7.82677 0 3.98565 2.17231 1.81832 5.65292C1.68171 5.87323 1.80356 6.16246 2.05463 6.224L2.05955 6.22523C2.21831 6.26338 2.38569 6.19815 2.47308 6.05908C4.5001 2.80369 8.10246 0.769231 12.0113 0.769231C13.2482 0.769231 14.4727 0.974769 15.653 1.37969C15.9361 1.47692 16.2142 1.584 16.4788 1.69969L16.5145 1.71569L16.517 1.71692C16.8222 1.85108 17.1188 1.99754 17.4093 2.15631C18.1133 2.54154 18.7705 3.00062 19.3711 3.52492C20.1772 4.22646 20.8836 5.04615 21.467 5.96431C21.6615 6.26831 21.8387 6.57969 22.0024 6.896C23.0916 9.01046 23.4891 11.3649 23.1396 13.6148V13.616C23.0719 14.0578 22.9747 14.4948 22.8491 14.9255C22.8073 15.0486 22.7704 15.1729 22.7359 15.2935C22.7014 15.4129 22.6657 15.5348 22.6251 15.6529C22.3494 16.4529 21.9864 17.216 21.5421 17.9286C21.1236 18.6031 20.6326 19.232 20.08 19.8043C19.8671 20.0234 19.6455 20.2351 19.4141 20.4369L19.3305 20.5083C17.285 22.2646 14.6795 23.232 11.9953 23.232C11.9953 23.232 11.9953 23.232 11.994 23.232C10.7584 23.232 9.53257 23.0265 8.3523 22.6215C3.73704 21.0338 0.724202 16.6646 0.7722 11.8954C0.7722 11.6898 0.613435 11.52 0.409133 11.5089H0.405441C0.187601 11.4966 0.00299089 11.6689 0.000529418 11.888C-0.0474692 16.9834 3.17213 21.6529 8.1 23.3477C9.36027 23.7809 10.6685 24 11.9903 24C17.1176 24 21.6812 20.7458 23.3463 15.9028C25.4989 9.64431 22.1599 2.80369 15.9029 0.652308Z' fill='black'/%3E%3Cpath d='M21.7585 5.77013C21.1185 4.84952 20.3468 4.04583 19.4693 3.37998C18.8342 2.89629 18.1438 2.48644 17.4078 2.1566C17.238 2.08029 17.0669 2.0089 16.8921 1.93998L16.8626 1.92644H16.8577C16.7481 1.88337 16.6325 1.84152 16.502 1.79721C15.3857 1.41321 14.2276 1.21875 13.0559 1.21875C9.35512 1.21875 5.97183 3.12767 4.05188 6.18983C3.91281 6.41137 4.02973 6.70552 4.28449 6.76706L4.28941 6.76829C4.44818 6.80767 4.61556 6.73998 4.70294 6.6009C6.48627 3.75906 9.6308 1.98675 13.0572 1.98675C14.1427 1.98675 15.2171 2.16767 16.2522 2.52337C16.5045 2.60952 16.7543 2.70675 16.9943 2.8126C17.2786 2.93567 17.5555 3.07229 17.8226 3.22121C18.4392 3.56213 19.0139 3.96583 19.5382 4.42737C20.241 5.04275 20.8551 5.76029 21.3646 6.56398C21.532 6.8286 21.6859 7.09937 21.8262 7.37629C22.7824 9.26183 23.1123 11.412 22.7627 13.4858C22.7111 13.7886 22.6458 14.0914 22.5658 14.3917C22.508 14.6083 22.4403 14.8286 22.3652 15.044C22.1277 15.7357 21.8138 16.3966 21.4311 17.0144C21.0668 17.6064 20.6397 18.1578 20.1585 18.66C19.9481 18.8791 19.7277 19.0871 19.4976 19.2864C17.6995 20.8397 15.4054 21.6951 13.0375 21.6951C11.952 21.6951 10.8775 21.5154 9.84372 21.1584C5.90783 19.8058 3.27406 16.0901 3.19529 12.0163C3.1916 11.8157 3.03529 11.652 2.83468 11.6409H2.83099C2.60946 11.6286 2.42239 11.8071 2.42608 12.0298C2.46423 13.9228 3.01068 15.7972 4.01742 17.4268C5.30231 19.508 7.28256 21.0908 9.59265 21.8858C10.7077 22.2698 11.8658 22.4631 13.0375 22.4631C15.4177 22.4631 17.7635 21.6471 19.6465 20.1591C19.793 20.0434 19.9357 19.924 20.0748 19.8009C20.6853 19.2643 21.2268 18.6637 21.6957 18.0089C22.2864 17.1818 22.7578 16.2686 23.0926 15.2938C23.1073 15.252 23.1221 15.2089 23.1357 15.1658C23.1492 15.124 23.164 15.0809 23.1787 15.0391L23.1824 15.028C24.1301 11.8071 23.6107 8.43229 21.7585 5.77013Z' fill='black'/%3E%3Cpath d='M22.0006 6.89658C21.8935 6.71811 21.7778 6.54335 21.6572 6.36981C21.0936 5.56612 20.4154 4.86458 19.6425 4.28612C19.6425 4.28488 19.6425 4.28488 19.6413 4.28488C19.0801 3.86396 18.4709 3.50704 17.8223 3.22273C17.6832 3.16119 17.5404 3.10335 17.3977 3.04796C17.2992 3.00981 17.2007 2.97535 17.0998 2.94088C16.1288 2.60735 15.1208 2.4375 14.1018 2.4375C10.8871 2.4375 7.95916 4.08304 6.28413 6.73165C6.14382 6.95442 6.25951 7.24858 6.5155 7.31135L6.52043 7.31258C6.67919 7.35073 6.84534 7.2855 6.93272 7.14765C8.46868 4.71812 11.1603 3.20673 14.103 3.20673C15.0371 3.20673 15.9614 3.36181 16.8524 3.66827C17.0838 3.74704 17.3078 3.83565 17.522 3.93042C17.778 4.04365 18.029 4.16796 18.2703 4.30581C18.7921 4.59996 19.2795 4.94827 19.7238 5.34458C20.3182 5.87381 20.8388 6.48919 21.2696 7.17473C21.4172 7.40981 21.5526 7.65227 21.6757 7.89842C22.4683 9.48735 22.7452 11.2917 22.4646 13.0369C22.4215 13.3089 22.3637 13.5797 22.2923 13.848C22.2394 14.0486 22.1791 14.2492 22.1126 14.4412C21.9157 15.016 21.6572 15.5649 21.3434 16.0806C21.0345 16.5889 20.6726 17.0652 20.264 17.4984C20.0819 17.6917 19.8899 17.8763 19.6905 18.0498L19.6721 18.067C18.1201 19.4184 16.1374 20.1618 14.0882 20.1618C13.1541 20.1618 12.2286 20.0067 11.3388 19.7003C8.02315 18.5606 5.8066 15.5538 5.62814 12.1409C5.6183 11.9452 5.46323 11.7889 5.26754 11.7778H5.26631C5.03985 11.7655 4.85032 11.9513 4.86263 12.1766C4.95001 13.7507 5.4423 15.299 6.29643 16.6443C7.43117 18.4301 9.08774 19.7384 11.0877 20.4264C12.0587 20.76 13.0679 20.9286 14.087 20.9286C16.1485 20.9286 18.1816 20.2246 19.8111 18.9458C19.9293 18.8535 20.0462 18.7575 20.1582 18.659C20.7034 18.1877 21.1871 17.656 21.6031 17.0763C22.1261 16.3501 22.5421 15.5464 22.8375 14.6873C22.8609 14.6209 22.8818 14.5557 22.9027 14.4904C22.995 14.2 23.0726 13.9083 23.1366 13.6153C23.1366 13.6141 23.1366 13.6141 23.1366 13.6141C23.6363 11.3101 23.235 8.92858 22.0006 6.89658Z' fill='black'/%3E%3Cpath d='M21.8272 7.3781C21.7435 7.24271 21.6549 7.10979 21.5626 6.9781C21.0777 6.29133 20.4931 5.69317 19.8297 5.2021C19.3485 4.8464 18.8267 4.54487 18.2704 4.30487C18.1559 4.2544 18.039 4.2064 17.9221 4.16333C17.8495 4.13625 17.7768 4.10917 17.703 4.08333C16.8772 3.79902 16.0181 3.65625 15.1505 3.65625C13.596 3.65625 12.0872 4.11287 10.785 4.9781C9.87061 5.5861 9.10263 6.36763 8.51926 7.2784C8.37772 7.49871 8.4971 7.7941 8.75187 7.85687L8.75679 7.8581C8.91432 7.89625 9.08047 7.83102 9.16786 7.6944C10.4503 5.69071 12.6755 4.4501 15.1246 4.4501C15.9123 4.4501 16.6926 4.58179 17.4445 4.84025C17.5381 4.87225 17.6279 4.91779 17.7239 4.96579C17.8236 5.01625 17.9258 5.06671 18.0316 5.10363C18.1079 5.13933 18.1842 5.17625 18.2593 5.2144C18.7048 5.43717 19.1196 5.69687 19.4999 5.98733C20.1694 6.50056 20.7318 7.11348 21.1601 7.80271L21.1651 7.81133L21.2069 7.86302C21.218 7.87656 21.2278 7.89133 21.2377 7.90733C21.2967 8.00579 21.3534 8.10671 21.4063 8.20763C21.4075 8.20763 21.4075 8.20887 21.4075 8.20887C21.6955 8.75163 21.9097 9.3264 22.05 9.91717C22.1706 10.4316 22.2346 10.9572 22.2395 11.4852C22.2456 12.0341 22.1878 12.5842 22.0635 13.1233C22.05 13.1849 22.034 13.2476 22.018 13.3092C21.9749 13.4839 21.9232 13.6562 21.8592 13.8396C21.7017 14.2987 21.4974 14.7381 21.2512 15.1516C20.9989 15.5787 20.7023 15.9775 20.3639 16.3418C20.2002 16.5203 20.0266 16.6901 19.8433 16.8501C18.5399 17.9972 16.8686 18.6298 15.1394 18.6298C14.3579 18.6298 13.5825 18.5006 12.8367 18.2433C10.2041 17.3387 8.36788 14.9683 8.08235 12.2581C8.06266 12.071 7.91127 11.9258 7.7242 11.9159H7.72051C7.48421 11.9024 7.29345 12.1043 7.31806 12.3406C7.63313 15.3412 9.66753 17.9664 12.5868 18.9695C13.4127 19.2538 14.2717 19.3978 15.1394 19.3978C16.8833 19.3978 18.6039 18.8058 19.9872 17.7289C20.0832 17.655 20.1768 17.5787 20.2691 17.4999C20.7318 17.1049 21.1441 16.6606 21.4998 16.1744C21.9626 15.5418 22.3306 14.839 22.589 14.087C22.605 14.0415 22.6198 13.9959 22.6346 13.9492C22.6838 13.7966 22.7281 13.6439 22.7675 13.4901C23.2942 11.4224 22.9521 9.19963 21.8272 7.3781Z' fill='black'/%3E%3Cpath d='M21.6753 7.89632C21.6088 7.79171 21.5399 7.68709 21.4673 7.58617L21.4599 7.57509C20.9541 6.86986 20.3203 6.28032 19.5929 5.83356C19.2311 5.61079 18.8446 5.42371 18.4397 5.27479C18.3942 5.25756 18.3474 5.24032 18.3019 5.22432C18.2871 5.2194 18.2723 5.21325 18.2563 5.20956C17.588 4.98432 16.8939 4.87109 16.1948 4.87109C13.9844 4.87109 11.9365 6.01448 10.7525 7.81756C10.6085 8.03786 10.7279 8.33448 10.9839 8.39725L10.9888 8.39848C11.1451 8.43663 11.3088 8.37263 11.3974 8.23725C12.4411 6.64832 14.2515 5.64032 16.1936 5.64032C16.825 5.64032 17.449 5.74494 18.0508 5.95171C18.228 6.01325 18.4077 6.08463 18.5837 6.16463C18.7745 6.25202 18.9591 6.34925 19.1375 6.45756C19.4637 6.65325 19.7677 6.87971 20.047 7.13694C20.4446 7.49879 20.7916 7.92094 21.0772 8.38986C21.8821 9.7154 22.1184 11.2662 21.743 12.7591C21.7036 12.9154 21.6581 13.0742 21.6039 13.2305C21.4501 13.676 21.2433 14.1006 20.9873 14.492C20.7929 14.7899 20.5726 15.068 20.3264 15.3252C20.2255 15.4311 20.1197 15.5332 20.0101 15.6317C19.4821 16.1031 18.8778 16.4699 18.2305 16.7172C17.5819 16.9646 16.8902 17.0951 16.185 17.0951C15.5549 17.0951 14.9309 16.9905 14.3303 16.7837C12.3414 16.1006 10.9138 14.3936 10.5556 12.3726C10.5248 12.1966 10.3784 12.0649 10.1999 12.0551H10.1962C9.95009 12.0416 9.7544 12.2606 9.79748 12.5031C10.2024 14.7985 11.8171 16.7345 14.0804 17.5111C14.7623 17.7462 15.4712 17.8643 16.1862 17.8643C17.6065 17.8643 19.0132 17.3856 20.1467 16.5166C20.2193 16.46 20.292 16.4034 20.3633 16.3431C20.7547 16.0169 21.1042 15.6477 21.4033 15.2428C21.7996 14.7099 22.1134 14.1179 22.3325 13.4791C22.3424 13.4508 22.3522 13.4225 22.3584 13.4016C22.3977 13.2809 22.4347 13.1603 22.4654 13.0385C22.927 11.2957 22.639 9.42371 21.6753 7.89632Z' fill='black'/%3E%3Cpath d='M22.2361 9.93375C22.07 9.32329 21.7919 8.73621 21.4042 8.20452C21.4042 8.20452 21.4042 8.20329 21.4029 8.20329C21.0559 7.72452 20.63 7.31467 20.1451 6.98606C19.8325 6.77437 19.4953 6.5959 19.1372 6.4556C19.0904 6.4359 19.0424 6.41867 18.9944 6.40144C18.9698 6.3916 18.9341 6.37929 18.9095 6.3719C18.3716 6.18729 17.8129 6.09375 17.248 6.09375C15.5151 6.09375 13.9324 6.9639 12.9958 8.35221C12.8456 8.57498 12.9589 8.87898 13.2198 8.94175C13.3761 8.9799 13.5373 8.91467 13.6272 8.78175C14.4234 7.60144 15.7723 6.85806 17.2394 6.85806C17.7194 6.85806 18.1932 6.93683 18.6498 7.0956C18.8024 7.14729 18.9489 7.2076 19.0867 7.27283C21.0989 8.21683 22.0725 10.5159 21.3488 12.6205C21.1162 13.2962 20.7174 13.9091 20.1968 14.3916L20.1771 14.4088C19.3698 15.1498 18.3224 15.5571 17.232 15.5571C16.7532 15.5571 16.2794 15.4784 15.8228 15.3208C14.4862 14.8618 13.4758 13.7873 13.0746 12.4654C13.0278 12.3104 12.8912 12.2008 12.73 12.1922H12.7263C12.4592 12.1774 12.2623 12.4334 12.3398 12.6882C12.8087 14.2427 13.9964 15.5042 15.5742 16.047C16.1169 16.2341 16.6831 16.3288 17.2578 16.3288C18.363 16.3288 19.451 15.9719 20.326 15.3233C20.3334 15.3184 20.3408 15.3122 20.3494 15.3061C20.6374 15.0894 20.8983 14.8519 21.1297 14.5959C21.5322 14.1528 21.846 13.6556 22.0602 13.1214C22.0909 13.0464 22.1192 12.9713 22.1463 12.8962L22.1512 12.8827C22.3174 12.3965 22.406 11.8894 22.4171 11.3811C22.4257 10.8938 22.3654 10.4076 22.2361 9.93375Z' fill='black'/%3E%3Cpath d='M19.595 11.7927C19.4337 12.2608 18.9944 12.5749 18.5008 12.5749C18.3728 12.5749 18.2461 12.5527 18.1242 12.5108C18.107 12.5059 18.091 12.4997 18.0762 12.4923C17.8067 12.3864 17.5901 12.1856 17.4621 11.9245C17.3267 11.6461 17.307 11.332 17.4079 11.04C17.5679 10.5719 18.0085 10.2578 18.5021 10.2578C18.5599 10.2578 18.619 10.2627 18.6756 10.2714C18.7433 10.2824 18.811 10.2972 18.8774 10.3206C19.4793 10.5288 19.8017 11.1891 19.595 11.7927Z' fill='black'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 1px;
    padding-left: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
    transition: all .3s ease;
    min-height: 40px;

    @media (max-width: 1024px) {
      font-size: 14px;
    }
  }

  &:hover &__img img {
    transform: scale(1.04);
  }

  &:hover &__title {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9029 0.652308C14.6426 0.219077 13.3343 0 12.0125 0C7.82677 0 3.98565 2.17231 1.81832 5.65292C1.68171 5.87323 1.80356 6.16246 2.05463 6.224L2.05955 6.22523C2.21831 6.26338 2.38569 6.19815 2.47308 6.05908C4.5001 2.80369 8.10246 0.769231 12.0113 0.769231C13.2482 0.769231 14.4727 0.974769 15.653 1.37969C15.9361 1.47692 16.2142 1.584 16.4788 1.69969L16.5145 1.71569L16.517 1.71692C16.8222 1.85108 17.1188 1.99754 17.4093 2.15631C18.1133 2.54154 18.7705 3.00062 19.3711 3.52492C20.1772 4.22646 20.8836 5.04615 21.467 5.96431C21.6615 6.26831 21.8387 6.57969 22.0024 6.896C23.0916 9.01046 23.4891 11.3649 23.1396 13.6148V13.616C23.0719 14.0578 22.9747 14.4948 22.8491 14.9255C22.8073 15.0486 22.7704 15.1729 22.7359 15.2935C22.7014 15.4129 22.6657 15.5348 22.6251 15.6529C22.3494 16.4529 21.9864 17.216 21.5421 17.9286C21.1236 18.6031 20.6326 19.232 20.08 19.8043C19.8671 20.0234 19.6455 20.2351 19.4141 20.4369L19.3305 20.5083C17.285 22.2646 14.6795 23.232 11.9953 23.232C11.9953 23.232 11.9953 23.232 11.994 23.232C10.7584 23.232 9.53257 23.0265 8.3523 22.6215C3.73704 21.0338 0.724202 16.6646 0.7722 11.8954C0.7722 11.6898 0.613435 11.52 0.409133 11.5089H0.405441C0.187601 11.4966 0.00299089 11.6689 0.000529418 11.888C-0.0474692 16.9834 3.17213 21.6529 8.1 23.3477C9.36027 23.7809 10.6685 24 11.9903 24C17.1176 24 21.6812 20.7458 23.3463 15.9028C25.4989 9.64431 22.1599 2.80369 15.9029 0.652308Z' fill='%23854ADE'/%3E%3Cpath d='M21.7586 5.77013C21.1186 4.84952 20.3469 4.04583 19.4694 3.37998C18.8344 2.89629 18.1439 2.48644 17.4079 2.1566C17.2381 2.08029 17.067 2.0089 16.8923 1.93998L16.8627 1.92644H16.8578C16.7483 1.88337 16.6326 1.84152 16.5021 1.79721C15.3858 1.41321 14.2277 1.21875 13.0561 1.21875C9.35524 1.21875 5.97195 3.12767 4.052 6.18983C3.91293 6.41137 4.02985 6.70552 4.28461 6.76706L4.28953 6.76829C4.4483 6.80767 4.61568 6.73998 4.70306 6.6009C6.4864 3.75906 9.63092 1.98675 13.0573 1.98675C14.1428 1.98675 15.2172 2.16767 16.2523 2.52337C16.5046 2.60952 16.7544 2.70675 16.9944 2.8126C17.2787 2.93567 17.5556 3.07229 17.8227 3.22121C18.4393 3.56213 19.014 3.96583 19.5383 4.42737C20.2411 5.04275 20.8552 5.76029 21.3648 6.56398C21.5321 6.8286 21.686 7.09937 21.8263 7.37629C22.7826 9.26183 23.1124 11.412 22.7629 13.4858C22.7112 13.7886 22.6459 14.0914 22.5659 14.3917C22.5081 14.6083 22.4404 14.8286 22.3653 15.044C22.1278 15.7357 21.814 16.3966 21.4312 17.0144C21.0669 17.6064 20.6398 18.1578 20.1586 18.66C19.9482 18.8791 19.7279 19.0871 19.4977 19.2864C17.6996 20.8397 15.4055 21.6951 13.0376 21.6951C11.9521 21.6951 10.8777 21.5154 9.84384 21.1584C5.90795 19.8058 3.27418 16.0901 3.19541 12.0163C3.19172 11.8157 3.03541 11.652 2.83481 11.6409H2.83111C2.60958 11.6286 2.42251 11.8071 2.4262 12.0298C2.46435 13.9228 3.0108 15.7972 4.01754 17.4268C5.30243 19.508 7.28268 21.0908 9.59277 21.8858C10.7078 22.2698 11.8659 22.4631 13.0376 22.4631C15.4178 22.4631 17.7636 21.6471 19.6466 20.1591C19.7931 20.0434 19.9359 19.924 20.0749 19.8009C20.6854 19.2643 21.2269 18.6637 21.6958 18.0089C22.2866 17.1818 22.7579 16.2686 23.0927 15.2938C23.1075 15.252 23.1222 15.2089 23.1358 15.1658C23.1493 15.124 23.1641 15.0809 23.1789 15.0391L23.1825 15.028C24.1302 11.8071 23.6108 8.43229 21.7586 5.77013Z' fill='%23854ADE'/%3E%3Cpath d='M22.0005 6.89658C21.8934 6.71811 21.7777 6.54335 21.6571 6.36981C21.0934 5.56612 20.4153 4.86458 19.6424 4.28612C19.6424 4.28488 19.6424 4.28488 19.6412 4.28488C19.08 3.86396 18.4707 3.50704 17.8221 3.22273C17.6831 3.16119 17.5403 3.10335 17.3975 3.04796C17.2991 3.00981 17.2006 2.97535 17.0997 2.94088C16.1287 2.60735 15.1207 2.4375 14.1016 2.4375C10.887 2.4375 7.95903 4.08304 6.284 6.73165C6.1437 6.95442 6.25939 7.24858 6.51538 7.31135L6.52031 7.31258C6.67907 7.35073 6.84522 7.2855 6.9326 7.14765C8.46856 4.71812 11.1602 3.20673 14.1029 3.20673C15.037 3.20673 15.9613 3.36181 16.8523 3.66827C17.0837 3.74704 17.3077 3.83565 17.5218 3.93042C17.7778 4.04365 18.0289 4.16796 18.2701 4.30581C18.792 4.59996 19.2793 4.94827 19.7236 5.34458C20.3181 5.87381 20.8387 6.48919 21.2694 7.17473C21.4171 7.40981 21.5525 7.65227 21.6756 7.89842C22.4682 9.48735 22.7451 11.2917 22.4645 13.0369C22.4214 13.3089 22.3636 13.5797 22.2922 13.848C22.2393 14.0486 22.1789 14.2492 22.1125 14.4412C21.9156 15.016 21.6571 15.5649 21.3433 16.0806C21.0344 16.5889 20.6725 17.0652 20.2639 17.4984C20.0818 17.6917 19.8898 17.8763 19.6904 18.0498L19.6719 18.067C18.12 19.4184 16.1373 20.1618 14.0881 20.1618C13.154 20.1618 12.2285 20.0067 11.3386 19.7003C8.02303 18.5606 5.80648 15.5538 5.62802 12.1409C5.61818 11.9452 5.4631 11.7889 5.26742 11.7778H5.26619C5.03973 11.7655 4.8502 11.9513 4.86251 12.1766C4.94989 13.7507 5.44218 15.299 6.29631 16.6443C7.43105 18.4301 9.08762 19.7384 11.0876 20.4264C12.0586 20.76 13.0678 20.9286 14.0869 20.9286C16.1483 20.9286 18.1815 20.2246 19.811 18.9458C19.9292 18.8535 20.0461 18.7575 20.1581 18.659C20.7033 18.1877 21.187 17.656 21.603 17.0763C22.126 16.3501 22.542 15.5464 22.8374 14.6873C22.8608 14.6209 22.8817 14.5557 22.9026 14.4904C22.9949 14.2 23.0725 13.9083 23.1365 13.6153C23.1365 13.6141 23.1365 13.6141 23.1365 13.6141C23.6361 11.3101 23.2349 8.92858 22.0005 6.89658Z' fill='%23854ADE'/%3E%3Cpath d='M21.8272 7.3781C21.7435 7.24271 21.6549 7.10979 21.5626 6.9781C21.0777 6.29133 20.4931 5.69317 19.8297 5.2021C19.3485 4.8464 18.8267 4.54487 18.2704 4.30487C18.1559 4.2544 18.039 4.2064 17.9221 4.16333C17.8495 4.13625 17.7768 4.10917 17.703 4.08333C16.8772 3.79902 16.0181 3.65625 15.1505 3.65625C13.596 3.65625 12.0872 4.11287 10.785 4.9781C9.87061 5.5861 9.10263 6.36763 8.51926 7.2784C8.37772 7.49871 8.4971 7.7941 8.75187 7.85687L8.75679 7.8581C8.91432 7.89625 9.08047 7.83102 9.16786 7.6944C10.4503 5.69071 12.6755 4.4501 15.1246 4.4501C15.9123 4.4501 16.6926 4.58179 17.4445 4.84025C17.5381 4.87225 17.6279 4.91779 17.7239 4.96579C17.8236 5.01625 17.9258 5.06671 18.0316 5.10363C18.1079 5.13933 18.1842 5.17625 18.2593 5.2144C18.7048 5.43717 19.1196 5.69687 19.4999 5.98733C20.1694 6.50056 20.7318 7.11348 21.1601 7.80271L21.1651 7.81133L21.2069 7.86302C21.218 7.87656 21.2278 7.89133 21.2377 7.90733C21.2967 8.00579 21.3534 8.10671 21.4063 8.20763C21.4075 8.20763 21.4075 8.20887 21.4075 8.20887C21.6955 8.75163 21.9097 9.3264 22.05 9.91717C22.1706 10.4316 22.2346 10.9572 22.2395 11.4852C22.2456 12.0341 22.1878 12.5842 22.0635 13.1233C22.05 13.1849 22.034 13.2476 22.018 13.3092C21.9749 13.4839 21.9232 13.6562 21.8592 13.8396C21.7017 14.2987 21.4974 14.7381 21.2512 15.1516C20.9989 15.5787 20.7023 15.9775 20.3639 16.3418C20.2002 16.5203 20.0266 16.6901 19.8433 16.8501C18.5399 17.9972 16.8686 18.6298 15.1394 18.6298C14.3579 18.6298 13.5825 18.5006 12.8367 18.2433C10.2041 17.3387 8.36788 14.9683 8.08235 12.2581C8.06266 12.071 7.91127 11.9258 7.7242 11.9159H7.72051C7.48421 11.9024 7.29345 12.1043 7.31806 12.3406C7.63313 15.3412 9.66753 17.9664 12.5868 18.9695C13.4127 19.2538 14.2717 19.3978 15.1394 19.3978C16.8833 19.3978 18.6039 18.8058 19.9872 17.7289C20.0832 17.655 20.1768 17.5787 20.2691 17.4999C20.7318 17.1049 21.1441 16.6606 21.4998 16.1744C21.9626 15.5418 22.3306 14.839 22.589 14.087C22.605 14.0415 22.6198 13.9959 22.6346 13.9492C22.6838 13.7966 22.7281 13.6439 22.7675 13.4901C23.2942 11.4224 22.9521 9.19963 21.8272 7.3781Z' fill='%23854ADE'/%3E%3Cpath d='M21.6754 7.89632C21.609 7.79171 21.54 7.68709 21.4674 7.58617L21.46 7.57509C20.9542 6.86986 20.3204 6.28032 19.593 5.83356C19.2312 5.61079 18.8447 5.42371 18.4398 5.27479C18.3943 5.25756 18.3475 5.24032 18.302 5.22432C18.2872 5.2194 18.2724 5.21325 18.2564 5.20956C17.5882 4.98432 16.894 4.87109 16.195 4.87109C13.9846 4.87109 11.9366 6.01448 10.7527 7.81756C10.6087 8.03786 10.728 8.33448 10.984 8.39725L10.989 8.39848C11.1453 8.43663 11.3089 8.37263 11.3976 8.23725C12.4412 6.64832 14.2516 5.64032 16.1937 5.64032C16.8251 5.64032 17.4491 5.74494 18.0509 5.95171C18.2281 6.01325 18.4078 6.08463 18.5838 6.16463C18.7746 6.25202 18.9592 6.34925 19.1376 6.45756C19.4638 6.65325 19.7678 6.87971 20.0472 7.13694C20.4447 7.49879 20.7918 7.92094 21.0773 8.38986C21.8822 9.7154 22.1185 11.2662 21.7431 12.7591C21.7037 12.9154 21.6582 13.0742 21.604 13.2305C21.4502 13.676 21.2434 14.1006 20.9874 14.492C20.793 14.7899 20.5727 15.068 20.3265 15.3252C20.2256 15.4311 20.1198 15.5332 20.0102 15.6317C19.4823 16.1031 18.878 16.4699 18.2306 16.7172C17.582 16.9646 16.8903 17.0951 16.1851 17.0951C15.555 17.0951 14.931 16.9905 14.3304 16.7837C12.3415 16.1006 10.9139 14.3936 10.5557 12.3726C10.525 12.1966 10.3785 12.0649 10.2001 12.0551H10.1964C9.95021 12.0416 9.75452 12.2606 9.7976 12.5031C10.2025 14.7985 11.8172 16.7345 14.0806 17.5111C14.7624 17.7462 15.4713 17.8643 16.1863 17.8643C17.6066 17.8643 19.0133 17.3856 20.1468 16.5166C20.2195 16.46 20.2921 16.4034 20.3635 16.3431C20.7548 16.0169 21.1044 15.6477 21.4034 15.2428C21.7997 14.7099 22.1136 14.1179 22.3326 13.4791C22.3425 13.4508 22.3523 13.4225 22.3585 13.4016C22.3979 13.2809 22.4348 13.1603 22.4656 13.0385C22.9271 11.2957 22.6391 9.42371 21.6754 7.89632Z' fill='%23854ADE'/%3E%3Cpath d='M22.2363 9.93375C22.0701 9.32329 21.792 8.73621 21.4043 8.20452C21.4043 8.20452 21.4043 8.20329 21.4031 8.20329C21.056 7.72452 20.6302 7.31467 20.1453 6.98606C19.8326 6.77437 19.4954 6.5959 19.1373 6.4556C19.0905 6.4359 19.0425 6.41867 18.9945 6.40144C18.9699 6.3916 18.9342 6.37929 18.9096 6.3719C18.3718 6.18729 17.813 6.09375 17.2481 6.09375C15.5152 6.09375 13.9325 6.9639 12.9959 8.35221C12.8458 8.57498 12.959 8.87898 13.2199 8.94175C13.3762 8.9799 13.5374 8.91467 13.6273 8.78175C14.4236 7.60144 15.7725 6.85806 17.2395 6.85806C17.7195 6.85806 18.1933 6.93683 18.6499 7.0956C18.8025 7.14729 18.949 7.2076 19.0868 7.27283C21.0991 8.21683 22.0726 10.5159 21.3489 12.6205C21.1163 13.2962 20.7175 13.9091 20.1969 14.3916L20.1773 14.4088C19.3699 15.1498 18.3225 15.5571 17.2321 15.5571C16.7533 15.5571 16.2795 15.4784 15.8229 15.3208C14.4863 14.8618 13.4759 13.7873 13.0747 12.4654C13.0279 12.3104 12.8913 12.2008 12.7301 12.1922H12.7264C12.4593 12.1774 12.2624 12.4334 12.3399 12.6882C12.8088 14.2427 13.9965 15.5042 15.5743 16.047C16.1171 16.2341 16.6832 16.3288 17.2579 16.3288C18.3631 16.3288 19.4511 15.9719 20.3262 15.3233C20.3336 15.3184 20.3409 15.3122 20.3496 15.3061C20.6375 15.0894 20.8985 14.8519 21.1298 14.5959C21.5323 14.1528 21.8461 13.6556 22.0603 13.1214C22.091 13.0464 22.1194 12.9713 22.1464 12.8962L22.1514 12.8827C22.3175 12.3965 22.4061 11.8894 22.4172 11.3811C22.4258 10.8938 22.3655 10.4076 22.2363 9.93375Z' fill='%23854ADE'/%3E%3Cpath d='M19.595 11.7927C19.4337 12.2608 18.9944 12.5749 18.5008 12.5749C18.3728 12.5749 18.2461 12.5527 18.1242 12.5108C18.107 12.5059 18.091 12.4997 18.0762 12.4923C17.8067 12.3864 17.5901 12.1856 17.4621 11.9245C17.3267 11.6461 17.307 11.332 17.4079 11.04C17.5679 10.5719 18.0085 10.2578 18.5021 10.2578C18.5599 10.2578 18.619 10.2627 18.6756 10.2714C18.7433 10.2824 18.811 10.2972 18.8774 10.3206C19.4793 10.5288 19.8017 11.1891 19.595 11.7927Z' fill='%23854ADE'/%3E%3C/svg%3E%0A");
    color: #854ADE;
  }
}

.products-have-slider {
  .swiper-slide {
    @media (max-width: 992px) {
      width: 42vw !important;
    }

    @media (max-width: 600px) {
      width: 83vw !important;
    }
  }

  @media (max-width: 992px) {
    margin: 0 -20px;

    .swiper {
      padding-left: 20px;
    }
  }

}

.products-top-slider {
  position: relative;
  .swiper-slide {
    @media (max-width: 992px) {
      width: 42vw !important;
    }

    @media (max-width: 600px) {
      width: 83vw !important;
    }
  }

  @media (max-width: 992px) {
    margin: 0 -20px;

    .swiper {
      padding-left: 20px;
    }
  }

}

.product-detail {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 75%;

  &__left {
    width: 60%;
    padding-right: 40px;

    @media (max-width: 992px) {
      padding-right: 0;
      width: 100%;
    }
  }

  &__right {
    padding-left: 40px;
    padding-top: 40px;
    width: 40%;

    .product-detail__value {
      text-align: right;
    }

    img {
      border-radius: 12px;
    }

    @media (max-width: 992px) {
      padding-left: 0;
      padding-top: 32px;
      width: 100%;
      order: 1;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__full {
    width: 100%;
    margin-top: 40px;

    @media (max-width: 992px) {
      order: 3;
    }
  }

  &__row {
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EFEFEF;
  }

  &__title {
    color: #8C8C8C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    width: 40%;

    @media (max-width: 767px) {
      line-height: 1.2;
      width: 50%;
    }
  }

  &__value {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding-left: 12px;
    width: 60%;

    @media (max-width: 767px) {
      width: 50%;
    }
  }

  &__price {
    margin: 32px 0;
    display: flex;
    align-items: center;
  }

  &__price-value {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1;
  }

  &__price-count {
    padding-left: 12px;
    color: #8C8C8C;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }

  @media (max-width: 992px) {
    width: 100%;
    margin-top: 16px;
  }
}

.popup-product-detail {
  margin-bottom: 48px;
  &__title {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}